<div class="registration-form">
    <div class="row">
        <div class="small-12 column">
            <div class="title text-center">Register to our newsletter</div>
        </div>
    </div>

    <div>
        <div class="row">

            <div class="small-12 column">
                <label for="email">Email:</label>
                <div class="input-container">
                    <i class="fas fa-envelope"></i>
                    <input id="email" name="name" type="text">
                </div>
            </div>

            <div class="small-12 column">
                <p>
                    We take privacy very seriously and will only use your information to administer your account and to
                    provide the products and services you have requested from us.
                </p>
            </div>

            <div class="small-12 column">
                <label for="policy" class="float-left">I agree to the <a href="#" target="_blank">privacy
                        policy</a></label>
                <label class="checkbox-container float-right">
                    <input id="policy" name="policy" type="checkbox">
                    <div class="checkbox"></div>
                </label>
            </div>

            <div class="spacer"></div>

            <div class="small-12 column">
                <label for="marketing" class="float-left">I would like to receieve offers and news</label>
                <label class="checkbox-container float-right">
                    <input id="marketing" name="marketing" type="checkbox">
                    <div class="checkbox"></div>
                </label>
            </div>

            <div class="spacer"></div>

            <div class="small-12 column text-center">
                <input id="register" type="submit" class="button submit-button" name="register"
                    value="Register Account">
            </div>
        </div>
    </div>
</div>